<%- include('portals/header') %>

<section class="py-5 my-5">
    <div class="col-6 shadow p-5 m-auto">
        <h5 class="text-light text-center">LOG IN TO YOUR DASBOAD</h5>
        <form action="/login" method="post">
            <div class="p-2">
                <label class="d-block text-light fs-6" for="email">Write your email</label>
                <input class="d-block py-2 px-4 linstly w-100 text-light" type="email" name="email" id="email" placeholder="Ex: abcd@gmail.com">
            </div>
            <div class="p-2">
                <label class="d-block text-light fs-6" for="password">Write your password</label>
                <input class="d-block py-2 px-4 linstly w-100 text-light" type="password" name="password" id="password" placeholder="*******">
            </div>
            <div class="p-2">
                <input class="text-light d-block m-auto linstly py-2 px-4 rounded" type="submit" value="Login">
            </div>
        </form>
    </div>
</section>