<menu class="box-circle sticky-top px-2 background-own py-1 shadow">
    <div class="col-lg-3 col-7 d-inline-block">
        <h4 class="text-light text-bolder">Rafik Photography</h4>
    </div>
    <div class="col-7 text-center d-lg-inline-block d-none">
        <ul class="nav">
            <li class="nav-list"><a class="nav-link text-light text-bolder fs-6" href="/">Home</a></li>
            <li class="nav-list"><a class="nav-link text-light text-bolder fs-6" href="/photos">Photos</a></li>
            <li class="nav-list"><a class="nav-link text-light text-bolder fs-6" href="/product">Contract</a></li>
            <li class="nav-list"><a class="nav-link text-light text-bolder fs-6" href="/portfolio">Portfolio</a></li>
            <li class="nav-list"><a class="nav-link text-light text-bolder fs-6" href="/about">About</a></li>
            <li class="nav-list"><a class="nav-link text-light text-bolder fs-6" href="/contract">Package</a></li>
        </ul>
    </div>
    <div class="col-lg-1 col-4 d-inline-block">
        <a class="bg-danger btn-animation text-decoration-none px-4 py-1 text-light rounded shadow" href="/">Hire me</a>
    </div>
</menu>